<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace ="envio">

    <!-- ENVIOS ASIGNADOS -->
    <select id="obtener-envios-por-conductor" parameterType="int"  resultType="dto.RSEnvioLista">
        SELECT 
        e.idEnvio,
        e.numeroGuia,
        CONCAT(d.calle, ' ', d.numero, ', ', d.colonia, ', ',
        d.codigoPostal, ', ', d.ciudad) AS direccionDestino,
        es.nombre AS estatus
        FROM Envio e
        INNER JOIN Direccion d ON d.idDireccion = e.idDireccionDestino
        INNER JOIN Estatus es ON es.idEstatus = e.idEstatus
        WHERE e.idColaborador = #{idColaborador};
    </select>
    <!--selects necesarios para poder visualizar el detalle de un envío-->
    <select id="obtener-paquetes-por-envio" parameterType="int" resultType="pojo.Paquete">
        SELECT 
        idPaquete, 
        descripcion, 
        peso, 
        alto, 
        ancho, 
        profundidad 
        FROM paquete
        WHERE idEnvio = #{idEnvio}
    </select>
    <select id="detalle-envio" parameterType="string" resultType="dto.RSEnvioDetalle">
        SELECT  
        e.idEnvio AS idEnvio,
        e.numeroGuia AS numeroGuia,
        e.fechaEnvio AS fechaEnvio,
        e.fechaEntrega AS fechaEntrega,

        -- Destinatario directo desde envio
        e.nombreDestinatario AS nombreDestinatario,
        e.apellidoPaternoDestinatario AS apellidoPaternoDestinatario,
        e.apellidoMaternoDestinatario AS apellidoMaternoDestinatario,

        -- Cliente remitente
        c.idCliente AS idClienteRemitente,
        c.nombre AS clienteNombre,
        c.apellidoPaterno AS clienteApellidoPaterno,
        c.apellidoMaterno AS clienteApellidoMaterno,
        c.telefono AS clienteTelefono,
        c.correo AS clienteCorreo,

        -- Sucursal origen
        s.nombre AS sucursalOrigen,

        -- Dirección destino
        dir.calle AS dirCalle,
        dir.numero AS dirNumero,
        dir.colonia AS dirColonia,
        dir.codigoPostal AS dirCP,
        dir.ciudad AS dirCiudad,
        dir.estado AS dirEstado,

        -- Estatus del envío
        est.descripcion AS estatus,
 
        e.costo AS costo

        FROM envio e
        JOIN cliente c ON e.idClienteRemitente = c.idCliente
        JOIN sucursal s ON e.idSucursalOrigen = s.idSucursal
        JOIN direccion dir ON e.idDireccionDestino = dir.idDireccion
        JOIN estatus est ON e.idEstatus = est.idEstatus
        WHERE e.numeroGuia = #{numeroGuia}
    </select> 
    <!--Necesarios para actualizar estatus de envio-->
    <select id="obtener-idEnvio-por-guia" parameterType="string" resultType="int">
        SELECT idEnvio FROM Envio WHERE numeroGuia = #{numeroGuia}
    </select>
    
    <update id="actualizar-estatus" parameterType="dto.RSActualizarEstatus">
        UPDATE Envio
        SET idEstatus = #{nuevoIdEstatus},
        fechaEntrega = CASE 
        WHEN #{nuevoIdEstatus} = 5 THEN CURDATE() ELSE fechaEntrega 
        END 
        WHERE numeroGuia = #{numeroGuia} 
    </update>

    <insert id="registrar-historial-estatus" parameterType="pojo.EstatusEnvioHistorial">
        INSERT INTO EstatusEnvioHistorial 
        (idEnvio, idEstatus, fechaHora, comentario, idColaborador)
        VALUES 
        (#{idEnvio}, #{idEstatus}, NOW(), #{comentario}, #{idColaborador})
    </insert>
    
    <select id="obtener-ultimo-comentario" parameterType="int" resultType="string">
        SELECT comentario
        FROM EstatusEnvioHistorial
        WHERE idEnvio = #{idEnvio}
        AND idEstatus IN (4,6)
        ORDER BY fechaHora DESC
        LIMIT 1
    </select>
    
    <!-- NECESARIOS PARA CLIENTE FX -->
    <!-- LISTADO GENERAL DE ENVIOS PARA TABLA -->
    <select id="obtener-envios-tabla"
            resultType="dto.RSEnvioTabla">

        SELECT  
        e.idEnvio,
        e.numeroGuia, 

        CONCAT(ds.ciudad, ', ', ds.estado) AS sucursalOrigen, 

        CONCAT(dd.ciudad, ', ', dd.estado) AS destino, 

        es.nombre AS estatus, 
        es.idEstatus AS idEstatus, 

        CONCAT(c.nombre, ' ', c.apellidoPaterno) AS conductor, 
        e.costo AS costo

        FROM Envio e 
        JOIN Sucursal so  
        ON e.idSucursalOrigen = so.idSucursal 
        JOIN Direccion ds  
        ON so.idDireccion = ds.idDireccion 

        JOIN Direccion dd  
        ON e.idDireccionDestino = dd.idDireccion 

        JOIN Estatus es  
        ON e.idEstatus = es.idEstatus 

        LEFT JOIN Colaborador c  
        ON e.idColaborador = c.idColaborador 

        ORDER BY e.fechaEnvio DESC 

    </select>

    <!-- INSERTAR ENVÍO -->
    <insert id="registrar-envio" parameterType="dto.RSEnvio">
        INSERT INTO Envio 
        ( 
        numeroGuia, 
        idClienteRemitente, 
        idSucursalOrigen, 
        idDireccionDestino, 
        nombreDestinatario, 
        apellidoPaternoDestinatario, 
        apellidoMaternoDestinatario, 
        costo, 
        idEstatus, 
        fechaEnvio 
        ) 
        VALUES 
        ( 
        #{numeroGuia}, 
        #{idClienteRemitente}, 
        #{idSucursalOrigen}, 
        #{idDireccion}, 
        #{nombreDestinatario}, 
        #{apellidoPaternoDestinatario}, 
        #{apellidoMaternoDestinatario}, 
        #{costo}, 
        1, 
        NOW() 
        ) 
    </insert>
    
    <!-- INSERTAR DIRECCIÓN -->
    <insert id="insertar-direccion"
            parameterType="dto.RSEnvio"
            useGeneratedKeys="true"
            keyProperty="idDireccion"
            keyColumn="idDireccion">
             
        INSERT INTO Direccion 
        (calle, numero, colonia, codigoPostal, ciudad, estado) 
        VALUES 
        (#{calle}, #{numero}, #{colonia}, #{codigoPostal}, #{ciudad}, #{estado}) 
    </insert>
    
    <!-- INSERTAR PAQUETES -->
    <insert id="insertar-paquete" parameterType="pojo.Paquete">
        INSERT INTO Paquete
        (descripcion, peso, alto, ancho, profundidad, idEnvio)
        VALUES
        (#{descripcion}, #{peso}, #{alto}, #{ancho}, #{profundidad}, #{idEnvio})
    </insert>
    
    <!-- ACTUALIZAR ENVÍO -->
    <update id="actualizar-envio" parameterType="dto.RSEnvio">
        UPDATE Envio 
        SET 
        idClienteRemitente = #{idClienteRemitente}, 
        idSucursalOrigen = #{idSucursalOrigen}, 
        nombreDestinatario = #{nombreDestinatario}, 
        apellidoPaternoDestinatario = #{apellidoPaternoDestinatario}, 
        apellidoMaternoDestinatario = #{apellidoMaternoDestinatario} 
        WHERE numeroGuia = #{numeroGuia} 
    </update>
    
    <!-- ACTUALIZAR DIRECCIÓN -->
    <update id="actualizar-direccion-envio" parameterType="dto.RSEnvio">
        UPDATE Direccion d  
        JOIN Envio e ON e.idDireccionDestino = d.idDireccion  
        SET  
        d.calle = #{calle},  
        d.numero = #{numero},  
        d.colonia = #{colonia}, 
        d.codigoPostal = #{codigoPostal}, 
        d.ciudad = #{ciudad}, 
        d.estado = #{estado} 
        WHERE e.numeroGuia = #{numeroGuia} 
    </update>
    
    <!-- ASIGNAR UN CONDUCTOR A ENVÍO -->
    <update id="asignar-conductor">
        UPDATE Envio
        SET idColaborador = #{idColaborador}
        WHERE numeroGuia = #{numeroGuia}
    </update>

    <!-- DESASIGNAR UN CONDUCTOR A ENVÍO -->
    <update id="desasignar-conductor">
        UPDATE Envio
        SET idColaborador = NULL
        WHERE numeroGuia = #{numeroGuia}
    </update>


</mapper>


