<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    
    <!-- ====================================================== -->
    <!-- MAPPER CON JOIN                                        -->
    <!-- ====================================================== -->
    
    <resultMap id="sucursalDireccionRM" type="pojo.Sucursal">

        <id property="idSucursal" column="idSucursal"/>
        <result property="codigo" column="codigo"/>
        <result property="nombre" column="nombre"/>
        <result property="estatus" column="estatus"/>
        <result property="idDireccion" column="idDireccion"/>

        <association property="direccion" javaType="pojo.Direccion">
            <id property="idDireccion" column="idDireccion"/>
            <result property="calle" column="calle"/>
            <result property="numero" column="numero"/>
            <result property="colonia" column="colonia"/>
            <result property="codigoPostal" column="codigoPostal"/>
            <result property="ciudad" column="ciudad"/>
            <result property="estado" column="estado"/>
        </association>

    </resultMap>

    
    <!-- ====================================================== -->
    <!-- OBTENER TODAS LAS SUCURSALES                           -->
    <!-- ====================================================== -->
    <select id="obtener-todas" resultMap="sucursalDireccionRM">
        SELECT 
        s.idSucursal, s.codigo, s.nombre, s.estatus, s.idDireccion, 
        d.calle, d.numero, d.colonia, d.codigoPostal, d.ciudad, d.estado 
        FROM Sucursal s 
        INNER JOIN Direccion d 
        ON s.idDireccion = d.idDireccion 
        WHERE s.estatus = 'Activa' 
    </select>


    <!-- ====================================================== -->
    <!-- INSERTAR SUCURSAL                                      -->
    <!-- ====================================================== -->
    <insert id="insertar-sucursal"
            parameterType="pojo.Sucursal"
            useGeneratedKeys="true"
            keyProperty="idSucursal">

        INSERT INTO Sucursal ( 
        codigo, nombre, estatus, idDireccion 
        ) VALUES ( 
        #{codigo}, #{nombre}, #{estatus}, #{idDireccion}
        )
    </insert>


    <!-- ====================================================== -->
    <!-- ACTUALIZAR SUCURSAL (NO cambia código NI estatus)      -->
    <!-- ====================================================== -->
    <update id="actualizar" parameterType="pojo.Sucursal">
        UPDATE Sucursal 
        SET nombre = #{nombre}, 
        idDireccion = #{direccion.idDireccion} 
        WHERE idSucursal = #{idSucursal}
    </update>



    <!-- ====================================================== -->
    <!-- DAR DE BAJA SUCURSAL (estatus = Inactiva)              -->
    <!-- ====================================================== -->
    <update id="dar-de-baja-sucursal"
            parameterType="int">

        UPDATE Sucursal 
        SET estatus = 'Inactiva' 
        WHERE idSucursal = #{idSucursal} 
    </update>


    <!-- ====================================================== -->
    <!-- OBTENER SUCURSAL POR ID                                -->
    <!-- ====================================================== -->
    <select id="obtener-sucursal-por-id"
            parameterType="int"
            resultMap="sucursalDireccionRM">
        SELECT  
        s.idSucursal, s.codigo, s.nombre, s.estatus, s.idDireccion, 
        d.calle, d.numero, d.colonia, d.codigoPostal, d.ciudad, d.estado 
        FROM Sucursal s 
        INNER JOIN Direccion d ON s.idDireccion = d.idDireccion 
        WHERE s.idSucursal = #{idSucursal} 
    </select>



    <!-- ====================================================== -->
    <!-- BUSCAR SUCURSAL (por código o nombre)                  -->
    <!-- ====================================================== -->
    <select id="buscar-sucursal"
            parameterType="string"
            resultType="pojo.Sucursal">

        SELECT * 
        FROM Sucursal 
        WHERE  codigo LIKE CONCAT('%', #{param}, '%') 
        OR     nombre LIKE CONCAT('%', #{param}, '%')
    </select>
</mapper>
